/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

$bg-color: #f9f9f9;
$primary-color: #beaee2;
$secondary-color: #b983ff;
$white-color: #fff;

$raleway: 'Raleway', sans-serif;

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $raleway;
    background-color: $bg-color;
}

a { text-decoration: none; }

ul { list-style: none; }

/* REUSABLE CLASSES */
.container {
    max-width: 968px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

/* HEADER */
.header {
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    &__logo {
        cursor: default;
        color: $secondary-color;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__btn {
        display: flex;
        align-items: center;
        column-gap: .3rem;
        background-color: $secondary-color;
        color: $white-color;
        padding: .5rem;
        border-radius: 2rem;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
    }

    &__icon {
        display: flex;
        align-items: center;
        font-size: 1.05rem;
    }
}

/* MAIN */
.main {
    overflow-x: hidden;
    margin-top: 6rem;
}

/* PRINCIPAL */
.principal {
    &__container {
        display: grid;
        row-gap: 3rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-subtitle {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &-title {
            color: $secondary-color;
            font-size: 2rem;
            margin: .3rem 0;
        }

        &-text {
            font-size: 1.1rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        &-hide {
            color: $secondary-color;
            text-decoration: underline;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    &__search {
        &-form {
            display: flex;
            justify-content: center;
            align-items: center;

            &_input {
                background-color: $white-color;
                border: 2px solid $secondary-color;
                outline: none;
                padding: .5rem 0 .5rem 1.5rem;
                border-bottom-left-radius: 1.5rem;
                border-top-left-radius: 1.5rem;
                font-family: $raleway;
                width: 80%;
                font-weight: 500;
                font-size: 1.2rem;
            }

            &_btn {
                background-color: $secondary-color;
                color: $white-color;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .55rem;
                border-bottom-right-radius: 1.5rem;
                border-top-right-radius: 1.5rem;
                border: none;
                outline: none;
                width: 20%;
                font-size: 1.3rem;
                cursor: pointer;
            }
        }
    }
}
