/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap');

$bg-color: #f9f9f9;
$primary-color: #a149fa;
$secondary-color: #7A0BC0;
$white-color: #fff;

$raleway: 'Raleway', sans-serif;

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $raleway;
    background-color: $bg-color;
}

a { text-decoration: none; }

ul { list-style: none; }

img {
    height: auto;
    max-width: 100%;
}

/* REUSABLE CLASSES */
.container {
    max-width: 968px;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

/* HEADER */
.header {
    background-color: $bg-color;
    z-index: 1;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
}

/* NAV */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;

    &__logo {
        cursor: default;
        color: $primary-color;
        font-size: 1.5rem;
        font-weight: 600;
    }

    &__btn {
        display: flex;
        align-items: center;
        column-gap: .3rem;
        background-color: $primary-color;
        color: $white-color;
        padding: .5rem;
        border-radius: 2rem;
        font-size: 1.1rem;
        font-weight: 600;
        cursor: default;

        &:hover {
            background-color: $secondary-color;
        }
    }

    &__icon {
        display: flex;
        align-items: center;
        font-size: 1.05rem;
    }
}

/* MAIN */
.main {
    overflow-x: hidden;
    margin-top: 6rem;
    margin-bottom: 4rem;

    &__container {
        display: grid;
        row-gap: 3rem;
    }
}

/* PRINCIPAL */
.principal {
    &__container {
        display: grid;
        row-gap: 3rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &-subtitle {
            font-size: 1.5rem;
            font-weight: 500;
        }

        &-title {
            color: $primary-color;
            font-size: 2rem;
            margin: .3rem 0;
        }

        &-text {
            font-size: 1.1rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        &-hide {
            color: $primary-color;
            text-decoration: underline;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }

    &__search {
        display: grid;
        row-gap: 3rem;

        &-form {
            display: flex;
            justify-content: center;
            align-items: center;

            &_input {
                background-color: $white-color;
                border: 2px solid $primary-color;
                outline: none;
                padding: .5rem 0 .5rem 1.5rem;
                border-bottom-left-radius: 1.5rem;
                border-top-left-radius: 1.5rem;
                font-family: $raleway;
                width: 80%;
                font-weight: 500;
                font-size: 1.2rem;
            }

            &_btn {
                background-color: $primary-color;
                color: $white-color;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: .56rem;
                border-bottom-right-radius: 1.5rem;
                border-top-right-radius: 1.5rem;
                border: none;
                outline: none;
                width: 20%;
                font-size: 1.3rem;

                &:hover {
                    background-color: $secondary-color;
                }
            }

            &_icon {
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        &-without {
            &_container {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            &_img { width: 90%; }

            &_info {
                margin-bottom: 1rem;
                font-size: 1.4rem;
                color: $primary-color;
                font-weight: 700;
                line-height: 1.5;
                text-align: center;
            }

            &_text { font-size: 1.3rem; }
        }

        &-error {
            &_container {
                @extend .principal__search-without_container;
            }

            &_img {
                @extend .principal__search-without_img;
            }

            &_info {
                @extend .principal__search-without_info;
                text-transform: capitalize;
            }

            &_text {
                @extend .principal__search-without_text;
            }
        }

        &-results {
            display: grid;
            row-gap: 3rem;
        }

        &-result {
            &_card {
                &_container {
                    box-shadow: 0 4px 20px rgba(0,0,0,.2);
                    display: grid;
                    row-gap: 1.5rem;
                    border-radius: .5rem;
                    background-color: $white-color;
                }

                &_header {
                    background-color: $primary-color;
                    color: $white-color;
                    padding: .8rem .5rem;
                    text-align: center;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;

                    & h3 { font-size: 1.3rem; }
                }

                &_content {
                    padding: 0 1.2rem 1.5rem 1.2rem;
                    display: grid;
                    row-gap: 1rem;

                    &_header {
                        text-align: center;
                        color: $primary-color;
                        font-weight: 700;
                        font-size: 3rem;

                        & p {
                            font-size: 1.2rem;
                            color: #000;
                            margin-top: 1rem;
                            font-weight: 500;
                            text-transform: capitalize;
                        }
                    }

                    &_data {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        text-align: center;
                        font-size: 1.1rem;
                        column-gap: .5rem;
                        row-gap: .7rem;
                    }

                    &_btns {
                        margin-top: 1.5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        &_favorite {
                            outline: none;
                            border: none;
                            background-color: $white-color;
                            cursor: pointer;
                        }

                        &_icon {
                            color: $primary-color;
                            font-size: 2.5rem;
                        }

                        &_added {
                            font-size: 2.5rem;
                            color: $primary-color;
                        }
                    }
                }
            }
        }

        &-forecast {
            &_container {
                display: grid;
                row-gap: 1.5rem;
            }

            &_card {
                &_container {
                    background-color: $white-color;
                    display: grid;
                    grid-template-columns: 25% auto;
                    box-shadow: 0 4px 20px rgba(0,0,0,.2);
                    border-radius: .5rem;
                    column-gap: 1rem;
                    cursor: default;
                }

                &_header {
                    background-color: $primary-color;
                    color: $white-color;
                    border-top-left-radius: .5rem;
                    border-bottom-left-radius: .5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    & p {
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                }

                &_content {
                    padding: 1rem 1rem 1rem 0;
                    display: grid;
                    row-gap: .5rem;

                    &_top {
                        font-size: 1.2rem;
                        font-weight: 600;
                    }

                    &_line {
                        background-color: $primary-color;
                        height: 2px;
                        width: 100%;
                        margin-bottom: .5rem;
                    }

                    &_bottom {
                        font-weight: 500;
                        font-size: 1.2rem;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        &_data {
                            display: grid;
                            row-gap: .3rem;
                        }

                        &_icon {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 50%;
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.favorite {
    background-color: #d9d9d9;
    border-radius: .5rem;

    &__content {
        padding: 1.5rem 1rem;

        &-title {
            text-align: center;
            font-size: 1.3rem;
            margin-bottom: 2rem;
        }

        &-data {
            &_text {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 500;
                margin-bottom: 1.5rem;
            }

            &_star {
                display: flex;
                justify-content: center;

                & i {
                    font-size: 4rem;
                    color: #a6a6a6;
                }
            }
        }
    }
}
